<app-full-header></app-full-header>

<mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened>
            <div class="flex-column">
                  <button mat-raised-button (click)="home()">accueil
                        <mat-icon>home</mat-icon>
                  </button>
                  <button mat-raised-button (click)="products()">produits
                        <mat-icon>vertical_split</mat-icon>
                  </button>
                  <button mat-raised-button (click)="contact()">contact
                        <mat-icon>contact_support</mat-icon>
                  </button>
            </div>
      </mat-drawer>
      <mat-drawer-content>
            <app-home *ngIf="menuIndex == 0"></app-home>
            <app-products *ngIf="menuIndex == 1"></app-products>
            <app-contact *ngIf="menuIndex == 2"></app-contact>
      </mat-drawer-content>
</mat-drawer-container>